<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-3" aria-labelledby="form-header">
  <h2 id="form-header" class="sr-only">Task Form</h2>
  <label for="taskName" class="sr-only">Task Name</label>
  <input id="taskName" type="text" formControlName="nameTask" class="py-2 px-4 rounded-md bg-slate-700 shadow-md text-white text-lg w-full" placeholder="Enter task name" aria-required="true">

  <label for="fileUpload" class="sr-only">Upload File</label>
  <input id="fileUpload" type="file" (change)="onFileChange($event)" class="block w-full text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white" aria-describedby="file-help">
  <small id="file-help" class="text-gray-500 text-xs">Only .pdf and .jpg files allowed</small>


  <button type="submit" class="bg-green-500 text-white font-bold py-3 rounded-md" aria-label="Save Task">Save task</button>
</form>
